  <mat-toolbar class="header">
    <h1>
     
      <span (click)="refresh()" class="title">{{ title }}</span>
    </h1>
    <img class="title" style="margin-left: 10px" (click)="refresh()">
    <span class="spacer"></span>

    <p style="margin-top: 15px; margin-right: 6px">Likes:{{ clickCount }}</p>
    <button mat-icon-button class="favorite-icon">
      <mat-icon (click)="incrementClickCount()">favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="share icon">
      <mat-icon (click)="shareContent()" id="shareButton">share</mat-icon>
    </button>
    <button mat-mini-fab color="edit"  [matMenuTriggerFor]="menu" style="margin: 15px;">
      <mat-icon>list</mat-icon> 
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navCepLs()">CRUD LS</button>
        <button mat-menu-item (click)="navCepApi()">CRUD API</button>
      </mat-menu>
  </mat-toolbar>

  <router-outlet></router-outlet>

